*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-X: hidden;
}
header{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 85px;
}
.left-side-menu{
    display: flex;
    gap: 50px;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
.destacar:hover {
    color: #1764ec; 
    cursor: pointer;
}
.right-side-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.line{
    height: 1px;
    background-color: #ddd;
    align-self: center;
    width: 90%;
    align-self: center;
}

.extras{
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #1764ec;
}
.social-midia{
    position: absolute;
    right: 105px;
    top: 130px;
}
.social-midia img{
    display: block;
    width: 20px;
    margin: 10px 0;
}
.texto-sobre{
    padding: 100px;
    margin-top: 70px;
}
.texto-sobre h1{
    font-size: 50px;
}
.texto-sobre p{
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;
    font: Kedmode Script;
}

